.main_intro {
  margin-top: 10px;
  width: 100%;
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 0.8;
}

.main_intro h1 {
  position: absolute;
  color: white;
  font-size: 2rem;
  z-index: 1;
}

.title h1 {
  font-size: 56px;
  color: #fff;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title p {
  font-size: 25px;
  color: #fff;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
