* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 100px;
  border: none;
  box-shadow: 5px 5px rgb(185, 174, 174);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background-color: white; */
  background-color: rgba(54, 64, 55, 1);
  color: white;
}
.navbar div {
  width: 30%;
  height: 100%;
  display: flex;
  /* flex-direction: left; */
  /* justify-content: left; */
  /* gap: 0; */
  margin: auto;
}
.navbar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 50px;

  /* mix-blend-mode: color-burn; */
}
.navbar span {
  display: block;
  position: absolute;
  right: 33%;
  top: 35%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-decoration: wavy;
  font-style: italic;

  border: none;
}

.navbar .visiting_links {
  display: flex;
  margin: auto;
  gap: 15px;
 
}
.visiting_links a {
  display: flex;
  margin: auto;
  font-size: 20px;

  text-decoration: none;
  cursor: pointer;
}
.navbar .userInfo {
  display: flex;
  margin-right: 20px;
}
.userInfo p {
  display: flex;
  justify-content: right;
  margin: auto;
  font-size: 20px;
}
.userInfo button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-left: 300px;
  font-size: 20px;
  width: 40px;
  height: 40px;

  margin-top: 25px;
  text-align: center;
  align-items: center;

  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
